.sidebar {
    background-color: #343a40;
    color: #ffffff;
    width: 250px;
    height: calc(100vh - 60px); /* 상단바 높이만큼 제외 */
    padding: 20px 0;
    position: fixed;
    left: 0;
    top: 60px; /* 상단바 아래에 위치하도록 설정 */
    z-index: 999;
}
.sidebar h3 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.2rem;
    font-weight: bold;
    border-bottom: 1px solid #6c757d;
    padding-bottom: 10px;
}
.sidebar .nav-link {
    color: #ffffff;
    font-size: 0.95rem;
    padding: 10px 20px;
    display: flex;
    align-items: center;
}
.sidebar .nav-link:hover {
    background-color: #495057;
    color: #ffffff;
}
.sidebar .active {
    background-color: #495057;
}
.content {
    margin-left: 250px; /* 사이드바의 너비만큼 여백 추가 */
    margin-top: 60px; /* 상단바 높이만큼 여백 추가 */
    padding: 20px;
}