<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
  <link rel="stylesheet" th:href="@{/css/booklist.css}">
  <!--조회 버튼 눌럿을 경우 필요한 ajax 작성-->
</head>
<body>
  <!-- booklist fragment 정의 -->
  <div th:fragment="book-list">
    <!--도서 검색-->
    <form method="get" class="filter-form">
      <div class="search-container">
        <select id="tag" name="tag" class="input-select">
          <option value="bookname" id="search-bookname">도서명</option>
          <option value="writer" id="search-writer">작가</option>
          <option value="registrant" id="search-registrant">등록자</option>
        </select>
        <input type="text" name="search" class="search-input" />
        <button type="submit" class="btn search-button">조회</button>
      </div>

    </form>
    <!--도서 목록-->
    <div class="book-list">
        <div class="booklist" id="booklist"></div>
    </div>
<!--    <div class="pagination" style="display: flex; justify-content: center; margin-top: 20px;">
      &lt;!&ndash;Previous 버튼&ndash;&gt;
      <ul class="pagination" style="list-style: none; display: flex; gap: 10px;">
        <li th:if="${page.hasPrevious()}" style="display: inline-block;">
          <a th:href="@{/book/list(
                    page=${page.number - 1},
                    size=${page.size},
                    search=${currentFilters['search']},
                    tag=${currentFilters['tag']})}"
             style="padding: 10px 15px; background-color: #FF7E36; color: white; text-decoration: none; border-radius: 5px; transition: background-color 0.3s;">
            Previous
          </a>
        </li>

        &lt;!&ndash; 숫자 페이지 &ndash;&gt;
        <li th:each="pageNum : ${pageNumbers}" style="display: inline-block;">
          <a th:href="@{/book/list(
                    page=${pageNum},
                    size=${page.size},
                    search=${currentFilters['search']},
                    tag=${currentFilters['tag']})}"
             th:text="${pageNum + 1}"
             th:classappend="${page.number == pageNum} ? 'active' : ''"
             style="padding: 10px 15px; background-color: #FF7E36; color: white; text-decoration: none; border-radius: 5px; transition: background-color 0.3s;">
          </a>
        </li>

        &lt;!&ndash;Next 버튼&ndash;&gt;
        <li th:if="${page.hasNext()}" style="display: inline-block;">
          <a th:href="@{/book/list(
                    page=${page.number + 1},
                    size=${page.size},
                    search=${currentFilters['search']},
                    tag=${currentFilters['tag']})}"
             style="padding: 10px 15px; background-color: #FF7E36; color: white; text-decoration: none; border-radius: 5px; transition: background-color 0.3s;">
            Next
          </a>
        </li>
      </ul>
    </div>-->
  </div>
</body>
</html>
