<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
  <meta charset="UTF-8">
  <title>로그인 페이지</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
  <!-- 로그인 CSS -->
  <link rel="stylesheet" th:href="@{/css/login.css}">
  <!-- Topbar CSS -->
  <link rel="stylesheet" th:href="@{/css/top.css}">
</head>
<body>
  <div>
    <th:block th:replace="top :: topbar1"></th:block>
  </div>
  <!-- 로그인 폼 -->
  <div class="login-container">
    <div class="login-card">
      <h3>로그인</h3>
      <form method="post" action="/login">
        <div class="mb-3">
          <label for="username" class="form-label">아이디</label>
          <input type="text" id="username" name="username" class="form-control" placeholder="아이디를 입력하세요" required>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">비밀번호</label>
          <input type="password" id="password" name="password" class="form-control" placeholder="비밀번호를 입력하세요" required>
        </div>
        <button id="loginbtn" class="btn btn-lg btn-primary btn-block"  type="button"> 로그인 </button>
        <div class="error-message" th:if="${loginError}">
          <span> 아이디나 패스워드가 올바르지 않습니다. </span>
        </div>
      </form>
      <div class="text-center mt-3">
        <small>계정이 없으신가요? <a th:href="@{/user/signup}">회원가입</a></small>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script type="text/javascript">
    //1.로그인 후에 응답헤더에 토큰이 전달되는지 확인
    let login_func = function (){
      let data = {
        username:$("#username").val(),
        password:$("#password").val()
      }
      $.ajax({
        type: "POST",
        url: "http://127.0.0.1:7070/user/login",
        data: data,//json으로 넘기지 않으려고 변환하지 않음
        dataType:"json"
      }).done(function (responsedata,msg, responseval){
        console.log(JSON.stringify(responsedata));
        console.log(JSON.stringify(msg));
        console.log(JSON.stringify(responseval));
        console.log(responseval.status);
        console.log(responseval.getResponseHeader("Authorization"))
        console.log(responseval.getResponseHeader("userName"))
        let accessToken = responseval.getResponseHeader("Authorization");
        //토큰이 있으면 토큰을 logcalStorage에 저장
        if (accessToken){
        localStorage.setItem("auth-token",accessToken);
        alert("로그인 성공! 메인 페이지로 이동합니다.");
        location.href="/book/list"
      } else {
        alert("로그인 실패: 토큰이 없습니다.");
          }
       }).fail(function (error) {
      console.error("에러 발생:", error);
      alert("로그인 실패: 서버와 통신하지 못했습니다.");
        location.href="/user/login"
      });
    };
    document.querySelector("#loginbtn").addEventListener("click",function (){
      alert("로그인요청");
      login_func();
    });
  </script>
</body>
</html>
