<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Sidebar</title>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>
<body>
    <div th:fragment="sidebar" class="sidebar">
        <h3>CATEGORY</h3>
        <nav class="nav flex-column">
            <a href="#" class="nav-link active"><i class="fas fa-book"></i> 도서</a>
            <a href="#" class="nav-link"><i class="fas fa-tasks"></i> 도서정리용품</a>
            <a href="#" class="nav-link"><i class="fas fa-shield-alt"></i> 도서 보호&보수용품</a>
            <a href="#" class="nav-link"><i class="fas fa-exchange-alt"></i> 대출용품</a>
            <a href="#" class="nav-link"><i class="fas fa-barcode"></i> 바코드용품</a>
            <!--div 새로 만들어서 th:if 사용하기 로그인 전 => 등록하기 버튼을 누르면 로그인 페이지로 이동-->
            <!-- 로그인 후 => 등록하기 페이지로 이동; 아래는 등록하기 페이지로 이동하는 태그-->
            <a th:href="@{/book/insert}" class="nav-link" style="margin-top: 20px; background-color: #495057; text-align: center;">
                <i class="fas fa-plus-circle"></i> 등록하기
            </a>
        </nav>
    </div>
</body>
</html>
